.post {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #9bafaf, #fff);
}

.headerText {
  padding: 0.5rem 1rem 0 1rem;
}

.headerText h2 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #06273b;
}

.headerText p {
  font-size: 1.2rem;
  color: #06273b;
  font-style: italic;
}

.post h2,
.post p {
  margin: 0;
}

.image {
  position: relative;
  height: 15rem;
}

.post img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.summary {
  padding: 1rem 1rem 0 1rem;
}

.details-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #06273b;
  color: #d9e2f1;
  cursor: pointer;
}

.selected-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #3b0606;
  color: #d9e2f1;
  cursor: pointer;
}

.actions {
  padding: 1rem;
  text-align: right;
}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover,
.actions a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
}