@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@400;700&display=swap');

/* loading */
.loading {
  margin: 6rem 0 1rem;
}

/* selected posts*/
.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 2px;
}

/* Map container */
.container {
  position: relative;
  border: 1px solid #09131b;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
  background: linear-gradient(#b3ffab, #67fffc);
}

.main-header {
  height: 30px;
  display: flex;
  align-items: center;
  /* background: linear-gradient(#444444, #333333); */
  /* color: #bbbbbb; */
}

.page {
  display: flex;
  /* flex-wrap:wrap; */
  /* height: calc( 100vh - 30px); */
  /* calculate the height. Header is 30px */
}

.sideBar {
  width: 100px;
  background: linear-gradient(180deg, #520d0d, #1a1d1d);
}

.content {
  background-color: #fff;
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

/* Flex layout */
.card {
  margin: 10px 0;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}